**/node_modules
**/dist
**/Dockerfile*
**/.turbo
**/.env

apps/api/dist
apps/www/build

docker-compose*

postgres-data
redis-data

README.md
LICENSE
.vscode
.editorconfig
.idea
.vscode
.dockerignore
.git
.gitignore

etc
